language: python
dist: xenial
os: linux
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install -U setuptools
  - pip install -r requirements.txt
script:
  - python setup.py test
  - find . -name '*.pyc' -delete
  - python setup.py install

jobs:
  include:
    - stage: deploy
      if: tag IS present
      python: 3.7
      install:
        - pip install -U setuptools
        - pip install -r requirements.txt
      deploy:
        provider: pypi
        cleanup: true
        username: "__token__"
        password:
          secure: "Irnj3g5Xc2s+TGl33maHX2y/BV0dS1Y1uRApmcoSkwcir4Pqiy4mtVU3PNzyYdd0zWl1S3/I4OBMSglpmEjtEjp8PjvDGMGCNEOS0Qj6tpArGoUWzpqI5Q46RB8W+QkQNvN4gEvjq9qQ5LOSAyHGZfbZL/Ua5CSHMpcx35dKuPSRlzRnfF+Ub03+dDXzV+/358FYtTYMpFIUL7H4w9IaNnZcvJAlf6MZiXgCYSif4Vlvlz9yMdPXnpDXXAjjUgsZ+HHTH41R9aGDAP1uQIklb92CSE856Q1IDgzELyeWmqHNCHrVOBoxsFoYPbBwIdBDlqZ0u7/XvHnmLzBvDhPsvr3Ynmc7wsWJMnOo+kUl1St+PKra8UuOteEBdxlT7G+ivCA1oOqrnx1efQP4k/SvPYgl8rce/0ICMgSj3peqRrNcHwMZxxbx5Q2x0envCFfixuNouRHH1RZXQVcowKrUHtaAYzmgN16i1h4VQ9D2HxxLIPiXyZDDoFLVagVNJ6wCw4IyXR9C7ctXhzpRFuIfj0VOOHSqd7CWVXZWzbAIdSgVFqqoQyqPL2QMGI5bhF92c6XmJjXCkLzUGyrKGkTAfeVzbf0gVXKgngXpwKpPbXjALRIUNoXF8wMzOu3Os0nGObJT7zPUEPIdWsZU8kQ1dxzzQVglXtoKZOSnjsdIeeQ="
        on:
          branch: master
          tags: true
        distributions: sdist bdist_wheel
